.console {
  width: 99.5%;
  height: 100%;
  margin: 0px;
  padding: 5px;
  background-color: black;
  font-family: monospace;
  color: white;
  font-size: 15px;
  overflow-y: hidden;
  position: absolute;
  bottom: 0px;
  overflow-wrap: break-word;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.console-line-error {
  color: red;
}

.console-line-debug {
  color: gray;
}

.console-line-warn {
  color: yellow;
}

.console-line-plain {
  color: white;
}

.console-line-log {
  color: white;
}

.console-line-info {
  color: lightblue;
}

.console-cursor {
  position: relative;
}

.console-blink {
  animation-name: console-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes console-blink {
  0% {
    opacity: 1
  }

  80% {
    opacity: 0
  }
}
