.console {
  width: 99.5%;
  height: 100%;
  margin: 0px;
  padding: 5px;
  background-color: black;
  font-family: monospace;
  color: white;
  font-size: 15px;
  overflow-y: hidden;
  position: absolute;
  bottom: 0px;
  overflow-wrap: break-word;
}

.console-line-e {
  color: red;
}

.console-line-d {
  color: gray;
}

.console-line-w {
  color: yellow;
}

.console-line-l {
  color: white;
}
.console-line-i {
  color: lightblue;
}

.cursor {
  position: relative;
  left: -2px;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1
  }

  80% {
    opacity: 0
  }
}
