body, html, .console {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 1px;
  background-color: black;
  font-family: monospace;
  font-size: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  overflow-wrap: break-word;
  user-select: none;
  color: white;
}
